.hero{
    position:relative;
    min-height:100vh;
    display:flex;
    align-items:center;

    background:url("/Hero.jpg") center center/cover no-repeat;

    overflow:hidden;
}

.hero-overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        90deg,
        rgba(0,0,0,.78) 0%,
        rgba(0,0,0,.58) 45%,
        rgba(0,0,0,.28) 100%
    );
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:650px;
    margin-left:8%;
    color:#fff;
    text-align:left;
}

.hero h1{
    font-size:60px;
    line-height:1.2;
    margin-bottom:20px;
    font-weight:800;
}

.hero h1 span{
    color:#00b7ff;
}

.hero p{
    font-size:21px;
    line-height:1.8;
    margin-bottom:35px;
}

.hero-buttons{
    display:flex;
    gap:18px;
    flex-wrap:wrap;
}

.btn{
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-weight:700;
    transition:.3s;
}

.call{
    background:#007bff;
    color:#fff;
}

.whatsapp{
    background:#25D366;
    color:#fff;
}

.explore{
    background:#ffb400;
    color:#000;
}

.btn:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 25px rgba(0,0,0,.35);
}

@media(max-width:768px){

.hero{
    justify-content:center;
    padding:0 20px;
}

.hero-content{
    margin:0;
    text-align:center;
}

.hero h1{
    font-size:38px;
}

.hero p{
    font-size:17px;
}

.hero-buttons{
    justify-content:center;
}

}.hero-trust{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin:35px 0;
}

.trust-box{
    background:rgba(255,255,255,.15);
    backdrop-filter:blur(8px);
    border:1px solid rgba(255,255,255,.2);
    color:#fff;
    padding:12px 20px;
    border-radius:12px;
    font-size:16px;
    font-weight:600;
    transition:.3s;
}

.trust-box:hover{
    transform:translateY(-5px);
    background:rgba(255,255,255,.25);
}

.trust-box span{
    margin-left:6px;
}

@media(max-width:768px){

.hero-trust{
    gap:12px;
}

.trust-box{
    width:100%;
    max-width:320px;
}

}